# Virtual Environments
.venv/
venv/
ENV/
env/

# Python bytecode & cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
